<section id="main" class="fluid-row">

<article class="article-body col-6">

<h1><%= article.title %></h1>

<%= article.body %>

</article>

<aside class="col-6">
<p>Aside stuff</p>
</aside>

</section>
