<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://pasteup.gu.com/0.0.1/css/pasteup.min.css" type="text/css"/>
  <style type="text/css">
  </style>
</head>
<body class="fluid-wrap">

<header>
<!-- logo, search -->
</header>

<nav>
	<ul class="nav-sections" role="navigation">
		<li class="zone-news"><a href="/" class="zone-color zone-background-hover">News</a></li>
		<li class="zone-sport"><a href="/" class="zone-color zone-background-hover">Sport</a></li>
		<li class="zone-comment"><a href="/" class="zone-color zone-background-hover">Comment</a></li>
		<li class="zone-culture"><a href="/" class="zone-color zone-background-hover">Culture</a></li>
		<li class="zone-business"><a href="/" class="zone-color zone-background-hover">Business</a></li>
		<li class="zone-money"><a href="/" class="zone-color zone-background-hover">Money</a></li>
		<li class="zone-sport"><a href="/" class="zone-color zone-background-hover">London 2012</a></li>
		<li class="zone-lifeandstyle"><a href="/" class="zone-color zone-background-hover">Life &#38; style</a></li>
		<li class="zone-travel"><a href="/" class="zone-color zone-background-hover">Travel</a></li>
		<li class="zone-environment"><a href="/" class="zone-color zone-background-hover">Environment</a></li>
		<li><a href="/">Video</a></li>
		<li><a href="/">Apps</a></li>
		<li><a href="/">Offers</a></li>
		<li><a href="/">Jobs</a></li>
	</ul>
</nav>

<nav>
	<ul class="nav-tags zone-" role="navigation">
		<li><a href="/" class="zone-color zone-background">News</a></li>
		<li><a href="/" class="zone-color zone-background-hover">UK</a></li>
		<li><a href="/" class="zone-color zone-background-hover">World</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Development</a></li>
		<li><a href="/" class="zone-color zone-background-hover">US</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Politics</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Media</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Education</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Society</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Science</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Tech</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Law</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Data</a></li>
        <li><a href="/" class="zone-color zone-background-hover">TV</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Football</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Observer</a></li>
	</ul>
</nav>

<section id="main" class="fluid-row">

<article class="article-body col-8">

<h1>Hello world</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>He was an <dfn title="A mutation that combines two or more sets of chromosomes from different species">allopolyploid</dfn> organism.</p>

</article>

<aside class="col-4">
<p>Aside stuff</p>
</aside>

</section>


<div class="footer zone-border zone-border-medium">
	<ul class="inline with-separators">
		<li><a href="#">List</a></li>
		<li><a href="#">of</a></li>
		<li><a href="#">inline</a></li>
		<li><a href="#">links</a></li>
	</ul>
	<p><small>© 2012 Guardian News and Media Limited or its affiliated companies. All rights reserved. Registered in England and Wales. No. 908396. Registered office: PO Box 68164, Kings Place, 90 York Way, London N1P 2AP</small></p>
</div>
</body>
</html>