body {
    background-color: white;
}

#logo {
  background: url(/images/guardian_logo.gif) no-repeat;
  width: 115px;
  height: 22px;
  text-indent: -9999px;
}


.site-head {
  margin: 10px 0;
}

.nav-tags {
  margin-bottom: 10px;
}

.site-search {
  float: right;
}
.site-logo {
  float: left;
  margin-top: 7px;
}


.gu-ref {
  border-bottom: 1px dotted #999;
  cursor: pointer; /* backward compat */
  cursor: help;
}


.article-thumb-list {
  list-style-type: none;
  margin: 0; padding: 0;
}

.article-thumb {
  position: relative;
  display: inline-block;
}

.article-thumb img {
  width: 200px;
  float: left;
}

.article-thumb .title {
  position: absolute;
  left: 0; bottom: 0; right: 0;
  background-color: rgba(200, 200, 200, 0.8);
  padding: 0 5px;
}
