body {
    background-color: white;
}

#logo {
  background: url(/images/guardian_logo.gif) no-repeat;
  width: 115px;
  height: 22px;
  text-indent: -9999px;
}

.fluid-row { 
    clear: none;
}

.site-head {
  margin: 10px 0;
}

.nav-tags {
  margin-bottom: 10px;
}

.site-search {
  float: right;
}
.site-logo {
}


.gu-ref {
  border-bottom: 1px dotted #999;
  cursor: pointer; /* backward compat */
  cursor: help;
}


.article-thumb-list {
  list-style-type: none;
  margin: 0; padding: 0;
}

.article-thumb {
  position: relative;
  float: left;
  margin-right: 10px;
}

.article-thumb img {
  width: 200px;
  float: left;
}

.article-thumb .title {
  position: absolute;
  left: 0; bottom: 0; right: 0;
  background-color: rgba(200, 200, 200, 0.8);
  padding: 0 5px;
}


.latest-update {
  clear: both;
}

.latest-update .text {
  display: block;
}
.latest-update .date {
  float: right;
}


/* TODO: use container row for this */
.key-events {
  float: left;
}

.key-events {
  background-color: #ddd;
  border: 1px solid #bbb;
  width: 100px;
}
.key-events ul {
  list-style-type: none;
  padding: 0; margin: 0;
}

.key-events .story-title {
  font-weight: bold;
  margin: -1px -10px;
  background-color: #999;
  border: 1px solid #bbb;
  padding: 10px;
}

.key-events .event {
  border-top: 1px solid #bbb;
  padding: 5px 10px;
}
.key-events .event.current {
  background-color: #999;
}
.key-events .event.ellipsis {
  background-color: #eee;
  text-align: center;
}

.key-events .event time {
  display: block;
  text-align: right;
  color: #666;
}
.key-events .event .title {
  display: block;
}
