/** credit: http://jasonweaver.name/lab/offcanvas/ */

[role="background"], [role="event"], [role="depth"] {
        -webkit-transition: .3s all ease;           
        transition: .3s all ease;           
        width: 98%;
        padding: 7px;
        min-height: 200px;
        opacity: 0.2;
    }

[role="background"] {   
 margin-left: -100%;
 float: left;
}

[role="event"] {
 margin-left: 0;
 float: left;
}

[role="depth"] {    
 margin-right: -200%;
 float: left;        
}

.event [role="event"] {
 opacity: 1;
}

/* background left */
.background [role="background"] {   
 margin-left: 0; 
 width: 95%;
 opacity: 1;
}
.background [role="event"]{
 margin-right: -100%;

}
.background [role="depth"] {    
 margin-right: -200%;
 float: right;       
}

/* right */
.depth [role="background"] {   
 margin-left: -100%; 
}
.depth [role="event"]{
 margin-left: -95%;
}
.depth [role="depth"] {    
    margin-left: 0;
    width: 80%;;
    opacity: 1;
}

