<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main-16px.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/pasteup.min.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/base.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/off-canvas.css" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
</head>

<body class="fluid-wrap">

<header class="site-head">
	<div class="site-logo" id="logo">The Guardian</div>
</header>

<nav>
	<ul class="nav-sections" role="navigation">
		<li class="zone-news"><a href="/" class="zone-color zone-background-hover">News</a></li>
		<li class="zone-sport"><a href="/" class="zone-color zone-background-hover">Sport</a></li>
		<li class="zone-comment"><a href="/" class="zone-color zone-background-hover">Comment</a></li>
		<li class="zone-culture"><a href="/" class="zone-color zone-background-hover">Culture</a></li>
	</ul>
</nav>

<script>
var tabDeselect = function(){
var tabs = document.querySelectorAll('.navigation li')
for (var i = 0; i < tabs.length; ++i) {  
tabs[i].className = '';
};
}
var loc = document.location;

window.onkeypress = function(evt){
    var key = evt.charCode || evt.keyCode;
    console.log(key);
    switch (key) {
        case 113:
            document.getElementsByTagName('body')[0].className='active';
            break;
        case 119:
            document.getElementsByTagName('body')[0].className='fluid-row event';
            break;
        case 101:
            document.getElementsByTagName('body')[0].className='depth';
            break;
    }
}

</script>

<%= content %>

<div class="footer zone-border zone-border-medium">
    <p><small>© 2012 Guardian News and Media Limited</small></p>
</div>
</body>
</html>
