<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/pasteup.min.css" type="text/css"/>
  <link rel="stylesheet" href="/main-16px.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/base.css" type="text/css"/>
</head>
<body class="fluid-wrap">

<header class="site-head">
	<div class="site-logo" id="logo">The Guardian</div>

	<div class="site-search">
	<form method="get" action="http://www.guardian.co.uk/search" target="_TOP">
		<input type="text" name="q" placeholder="Your search terms…"/>
		<input type="submit" value="Search" />
	</form>
	</div>
</header>

<nav>
	<ul class="nav-sections" role="navigation">
		<li class="zone-news"><a href="/" class="zone-color zone-background-hover">News</a></li>
		<li class="zone-sport"><a href="/" class="zone-color zone-background-hover">Sport</a></li>
		<li class="zone-comment"><a href="/" class="zone-color zone-background-hover">Comment</a></li>
		<li class="zone-culture"><a href="/" class="zone-color zone-background-hover">Culture</a></li>
	</ul>
</nav>

<!--
<nav>
	<ul class="nav-tags zone-" role="navigation">
		<li><a href="/" class="zone-color zone-background">News</a></li>
		<li><a href="/" class="zone-color zone-background-hover">UK</a></li>
		<li><a href="/" class="zone-color zone-background-hover">World</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Development</a></li>
		<li><a href="/" class="zone-color zone-background-hover">US</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Politics</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Media</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Education</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Society</a></li>
		<li><a href="/" class="zone-color zone-background-hover">Science</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Tech</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Law</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Data</a></li>
        <li><a href="/" class="zone-color zone-background-hover">TV</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Football</a></li>
        <li><a href="/" class="zone-color zone-background-hover">Observer</a></li>
	</ul>
</nav>
-->
<%= content %>


<div class="footer zone-border zone-border-medium">
    <p><small>© 2012 Guardian News and Media Limited</small></p>
</div>
</body>
</html>
