<section class="key-events">
    <div class="story-title">BSkyB Bid<%# story.title %></div>
    <ul>
        <li class="event ellipsis">&hellip;</li>
        <li class="event">
            <span class="title">Jeremy Hunt replaces Vince Cable</span>
            <time>Nov. 10</time>
        </li>
        <li class="event current">
            <span class="title">Vince Cable goes after Rupert Murdoch</span>
            <time>Nov. 8</time>
        </li>
        <li class="event">
            <span class="title">News Corporation announces bid to takeover BSkyB</span>
            <time>June 3</time>
        </li>
    </ul>
</section>
